* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor {
    width: 90%;
    margin: auto;
    background-color: rgb(3, 37, 37);
}

nav {
    display: flex;
    background-color: darkgray;
}

.menuitem {
    margin-right: 9px;
}

#perfil {
    background-color: orangered;
}

footer {
    background-color: gray;
    font-size: smaller;
    bottom: 0;
    position: absolute;
    width: 100%;
}