    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    body h1,
    h2 {
        text-align: center;
    }
    
    .protagonistas {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .protagonistas .caras {
        background: black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .protagonistas .caras img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 3px solid #fff;
        border-radius: 50%;
        display: block;
    }
    
    .protagonistas .caras>.texto-caras {
        width: 60%;
        color: white;
    }
    
    .protagonistas .caras>.texto-caras p {
        font-weight: 300;
        padding-top: 5px;
    }
    
    .MV {
        display: flex;
        flex-wrap: wrap;
    }
    
    .MV h2 {
        text-align: center;
    }
    
    .mision {
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        padding: 10px;
    }
    
    .mision p {
        margin-left: auto;
        margin-right: auto;
    }
    
    .vision {
        text-align: justify;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }